<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Career</title>
  <link rel="stylesheet" href="style.css" />
  <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: {
                            500: '#205b84',
                        },
                        secondary: {
                            500: '#22c55e',
                        },
                    }
                }
            }
        }
    </script>
</head>
<body>
    <%- include('header') %> 
  <div class="form-wrapper">
    <h2>Career</h2>
    <form action="#" method="POST">

      <div class="row">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Father's Name & Occupation">
      </div>
      <div class="row">
        <input type="text" placeholder="Mother's Name & Occupation">
        <input type="text" placeholder="Date of Birth">
      </div>
      <input type="text" placeholder="Address">
      <div class="row">
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Mobile No.">
      </div>
      <div class="row">
        <input type="text" placeholder="Aadhar">
        <input type="text" placeholder="PAN">
        <input type="text" placeholder="Passport">
      </div>

      <h4>Educational</h4>

      <div class="label">10<sup>th</sup></div>
      <div class="row">
        <input type="text" placeholder="School/College/Institute">
        <input type="text" placeholder="Year">
        <input type="text" placeholder="Percentage">
      </div>

      <div class="label">12<sup>th</sup></div>
      <div class="row">
        <input type="text" placeholder="School/College/Institute">
        <input type="text" placeholder="Year">
        <input type="text" placeholder="Percentage">
      </div>

      <div class="label">CPT</div>
      <div class="row">
        <input type="text" placeholder="Year">
        <input type="text" placeholder="Percentage">
      </div>

      <div class="label">IPCC</div>
      <div class="row">
        <input type="text" placeholder="Group I Year">
        <input type="text" placeholder="Group I Percentage">
      </div>
      <div class="row">
        <input type="text" placeholder="Group II Year">
        <input type="text" placeholder="Group II Percentage">
      </div>

      <div class="label">CA Final</div>
      <div class="row">
        <input type="text" placeholder="Group I Year">
        <input type="text" placeholder="Group I Percentage">
      </div>
      <div class="row">
        <input type="text" placeholder="Group II Year">
        <input type="text" placeholder="Group II Percentage">
      </div>

      <div class="label">Graduation</div>
      <div class="row">
        <input type="text" placeholder="College">
        <input type="text" placeholder="Year">
        <input type="text" placeholder="Percentage">
      </div>

      <input type="text" placeholder="Extra Curricular Activities">
      <input type="text" placeholder="Why I should be selected?">
      <input type="text" placeholder="Reference">

      <div class="center">
        <button type="submit">Submit</button>
      </div>

      <p class="policy">
        I undertake to adhere to all policies of the firm specifically:
        <br><br>
        (i) Ethical compliance.<br><br>
        (ii) Outstation Assignments.
      </p>
    </form>
  </div>
  <%- include('footer') %>
</body>
</html>
